# Code owners for this repository.
# These owners are requested for review on every pull request.
# Docs: https://docs.github.com/en/repositories/managing-your-repos-settings-and-features/customizing-your-repository/about-code-owners

* @ink-oblan
